@use '../../scss' as *;

.footer {
    position: relative;
    padding: 6rem 2rem;
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;

    &_content {
        max-width: 1000px;

        &_logo {
            @include flex(center,center);
            margin-bottom: 3rem;
        }

        &_menus {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
        }

        &_menu {
            @include flex(flex-start, flex-start);
            flex-direction: column;
            margin-top: 1rem;
            font-size: 1.2rem;

            & > * {
                margin-top: 1rem;
                position: relative;

                &::after {
                    content: "";
                    position: absolute;
                    width: 0;
                    height: 0.1rem;
                    display: block;
                    margin-top: 0.1rem;
                    left: 0;
                    background: $main-color;
                    transition: width .2s ease;
                    -webkit-transition: width .2s ease;
                    -moz-transition: width .2s ease;
                    -o-transition: width .2s ease;
                }

                &:hover::after {
                    width: 100%;
                }
            }
        }
    }
}