$body-bg: #0f0f0f;
$main-color: #f84d2f;  
$txt-color: #fff;
$white-color: #fff;
$black-color: #000;
$header-color: #29303b;
$grey-color: #e8e8e8;
$blue-color: #1a73e8;

$box-shadow: rgba(100, 100, 111, .2) 0 7px 29px 0;

$header-height: 8rem;
$header-shrink-height: 5rem;
$border-radius: 30px;

$mobile-width: 37.5em;
$tablet-width: 64em;

$font-family: "Montserrat", "san-serif"